{% load static %}
<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Homepage</title>
</head>
<body>
   <!-- <nav class="navbar">
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/callgraph">Jelly Analysis</a>
            <a href="/gasket">Gasket Bridges</a>
        </div>
    </nav>-->

    <h1>The Benefits of Call Graphs</h1>
    <!--<p style="color: #636e72; font-size: 1.2rem;">Advanced Static Analysis for Native Bridges</p> -->

    <div class="benefits-container">
        <div class="benefit-card">
            <div class="card-number">1</div>
            <p>Understand the deep <strong>structure</strong> of your polyglot codebase.</p>
        </div>

        <div class="benefit-card">
            <div class="card-number">2</div>
            <p>Identify <strong>unused code</strong> and optimize package performance.</p>
        </div>

        <div class="benefit-card">
            <div class="card-number">3</div>
            <p>Detect <strong>Security Risks</strong> by tracing data flow to Native Libraries (SCA).</p>
        </div>

        <div class="benefit-card">
            <div class="card-number">4</div>
            <p>Analyze the <strong>Bridges</strong> between JavaScript and C++ automatically.</p>
        </div>
    </div>

    <a href="/login" class="btn-main">Login</a>
    <a href="/signup" class="btn-main" style="margin-left: 20px;">Signup</a>
    
    <div style="margin-bottom: 50px;"></div>
    <script>
    const btn = document.getElementById('theme-toggle');
    const icon = btn.querySelector('i');
    const body = document.body;

    // Έλεγχος αν υπάρχει αποθηκευμένη προτίμηση
    if (localStorage.getItem('theme') === 'light') {
        body.classList.add('light-mode');
        icon.classList.replace('fa-moon', 'fa-sun');
    }

    btn.addEventListener('click', () => {
        body.classList.toggle('light-mode');
        
        if (body.classList.contains('light-mode')) {
            icon.classList.replace('fa-moon', 'fa-sun');
            localStorage.setItem('theme', 'light');
        } else {
            icon.classList.replace('fa-sun', 'fa-moon');
            localStorage.setItem('theme', 'dark');
        }
    });
</script>
</body>
</html>